@page
@model WebFizzBuzz.Pages.Index1Model
@{
    ViewData["Title"] = "Zapisane w sesji";
}
<h1>@ViewData["Title"]</h1>


<p>Otrzymano:</p>

@if (Model.Addr != null)
{
    <p>@Model.Addr.Result</p>
    <p>@Model.Addr.Date</p>
}